<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title | default: site.title }}</title>

  <link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
  />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/build/css/intlTelInput.min.css" />
</head>

  <!-- YOUR CSS -->
  <link
    rel="stylesheet"
    href="{{ "/assets/style2.css" | relative_url }}"
  />
</head>
<body>

  {% if page.lang == "de" %}
    {% include header-de.html %}
  {% elsif page.lang == "en" %}
    {% include header-en.html %}
  {% endif %}

  <main>
    {{ content }}
  </main>

  {% if page.lang == "de" %}
    {% include footer-de.html %}
  {% elsif page.lang == "en" %}
    {% include footer-en.html %}
  {% endif %}

  <!-- YOUR JS -->
  <script
    src="{{ "/assets/script.js" | relative_url }}"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
  ></script>

  <!-- Phone input library -->
  <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/build/js/intlTelInput.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/build/js/utils.js"></script>
  {% if page.lang == "de" %}
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.19/langs/de.js"></script>
  {% endif %}
</body>
</body>
</html>